@model TransLedger.Models.LoginViewModel
@{
    Layout = null;
    string alertType = TempData["AlertType"]?.ToString() ?? "";
    string alertMsg = TempData["AlertMsg"]?.ToString() ?? "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - TransLedger</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css" />

    <style>
        .card{
            max-width: 500px;
        }

        input[type="password"]::-ms-reveal,
        input[type="password"]::-ms-clear,
        input[type="password"]::-webkit-credentials-auto-fill-button,
        input[type="password"]::-webkit-password-toggle-button {
            display: none !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <section class="vh-100 d-flex justify-content-center align-items-center">
            <div class="card shadow-lg border w-100">
                <div class="card-body p-4 py-5">
                    <div class="fw-bold fs-3 text-center mb-5">
                        <i class="bi bi-truck"></i> TransLedger
                    </div>
                    @if (!string.IsNullOrWhiteSpace(alertMsg))
                    {
                        <div class="alert alert-@alertType">@alertMsg</div>
                    }
                    <form method="post" action="login">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label class="form-label">User ID</label>
                                <input class="form-control" placeholder="Enter user id" asp-for="UserId" />
                            </div>
                            <div class="col-12 mb-3 position-relative">
                                <label class="form-label">Password</label>
                                <input class="form-control" type="password" placeholder="Enter password" asp-for="Password" />
                                <button type="button" class="password-toggle btn p-0 px-1 position-absolute"
                                style="top: 38px; right: 20px;">
                                    <i class="bi bi-eye"></i>
                                </button>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-dark w-100">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const toggles = document.querySelectorAll('.password-toggle');

            toggles.forEach(function (toggleBtn) {
                const icon = toggleBtn.querySelector('i');
                const input = toggleBtn.previousElementSibling;

                toggleBtn.addEventListener('click', function () {
                    if (input.type === 'password') {
                        input.type = 'text';
                        icon.classList.replace('bi-eye', 'bi-eye-slash');
                    } else {
                        input.type = 'password';
                        icon.classList.replace('bi-eye-slash', 'bi-eye');
                    }
                });
            });
        });
    </script>
</body>
</html>
