@model TransLedger.Models.EntityAccountViewModel
@{
    string alertType = TempData["AlertType"]?.ToString() ?? "";
    string alertMsg = TempData["AlertMsg"]?.ToString() ?? "";
}

<div class="d-flex flex-column flex-md-row justify-content-md-between mb-5">
    <div>
        <h2>
            <strong>Party Registration</strong>
        </h2>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(alertMsg))
{
    <div class="alert alert-@alertType">@alertMsg</div>
}

<form method="post" action="/registration/party/register">
    <div class="card shadow-sm border-0">
        <div class="card-body p-4">
            <div class="mb-4">
                <h4>
                    <strong>Basic Details</strong>
                </h4>
                <p class="text-muted">Enter the details of the comany</p>
            </div>

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label class="form-label">Party Name</label><span class="text-danger">*</span>
                    <input type="text" class="form-control" placeholder="Enter Party Name" asp-for="Name" required onpaste="return false;" />
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">GSTIN</label>
                    <input class="form-control" type="text" maxlength="10" placeholder="Enter GSTIN" asp-for="GSTIN" onpaste="return false;" />
                </div>
                
                <div class="col-md-6 mb-3">
                    <label class="form-label">Contact Person Name</label>
                    <input type="text" class="form-control" placeholder="Enter Contact Person Name" asp-for="ContactPersonName" required onpaste="return false;" />
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">Contact No</label>
                    <input type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57);" class="form-control" maxlength="10" placeholder="Enter Contact Number" asp-for="ContactNo" required onpaste="return false;" />
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Alternative Mobile No</label>
                    <input type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57);" class="form-control" maxlength="10" placeholder="Enter Alternative Mobile No." asp-for="AlterNativeMobileNo" onpaste="return false;" />
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" placeholder="Enter Email Address" asp-for="Email" required onpaste="return false;" />
                </div>

                <div class="col-md-12 mb-3">
                    <label class="form-label">Address</label>
                    <textarea type="text" class="form-control" rows="3" placeholder="Enter Address" asp-for="Address" onpaste="return false;" required></textarea>
                </div>

            </div>

            <div class="text-end mt-4">
                <button type="reset" class="btn btn-outline-dark">Cancel</button>
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}